/*********Fondos**********/
$fondo-app: url(images/fondologin-min.jpg);
$fondo-navidad: url(images/fondonavidad.jpg);

/********Colores**********/
$color-soft-cyan: #03b4d5;
$color-soft-blue: #2eadf5;
$color-soft-green: #9cc96b;
$color-soft-red: #e44959;
$color-red: #FF001A;
$color-soft-purple: #925e8b;
$color-gray: #949495;
$color-green: #16b603;
$color-blue: #054664;
$color-blue-medium: #0a94d6;
$color-blue-soft: #b7ddf0;

$padding-panel-base: 10px 10px 10px 10px;