.project
.settings
.classpath
target
bin
.apodo
.metadata
/RemoteSystemsTempFiles/
*.log
package.sh
.recommenders
*~
tmp
proyecto-rem-online/sencha-app/classic.json
proyecto-rem-online/sencha-app/sass/example/bootstrap.js
proyecto-rem-online/sencha-app/sass/example/example.css
sql/9.2/rem/migracion_carterizada/SP/SPs.list
sql/9.2/rem/migracion_carterizada/PROD/DML_PROD/DMLs.list
sql/9.2/rem/migracion_carterizada/PROD/DML_PROD/TMP/*.sql
sql/9.2/rem/migracion_carterizada/Ficheros_entrada/MIGRACION_REM_FaseI*.zip
sql/9.2/rem/migracion_carterizada/CTLs_DATs/bad/*.bad
sql/9.2/rem/migracion_carterizada/CTLs_DATs/DATs/*.dat
sql/9.2/rem/migracion_carterizada/CTLs_DATs/DATs/*.csv
sql/9.2/rem/migracion_carterizada/INFORMES/KPIS/LOGS/*.log
sql/9.2/rem/migracion_carterizada/CTLs_DATs/*.list
sql/9.2/rem/migracion_carterizada/DDL/*.list
sql/9.2/rem/migracion_carterizada/DML/*.list
sql/9.2/rem/migracion_carterizada/nohup.out
sql/9.2/rem/migracion_carterizada/INFORMES/CONTRASTE/volumetrias_dat.list
sql/9.2/rem/migracion_carterizada/INFORMES/CONTRASTE/OUTPUT/REPORT-informe_contraste.csv
sql/9.2/rem/migracion_carterizada/INFORMES/CONTRASTE/OUTPUT/REPORT-informe_contraste.xlsx
sql/9.2/rem/migracion_carterizada/Ficheros_entrada/Ficheros_antiguos/
package-tags/
tags-list.txt
sql/9.2/rem/migracion_carterizada/Ficheros_entrada/*.csv
SQLs-list.txt
sql/SQLs-list.txt
sql/.project
reports/salida/
reports/*.csv
reports/salida.zip

