[submodule "fwk"]
        path = fwk
        url = ssh://git.pfsgroup.es:29418/fwk
        ignore = all
[submodule "sql/pitertul"]
	path = sql/pitertul
	url = ssh://pedro.blasco@git.pfsgroup.es:29418/pfs-pitertul
        ignore = all

