.project
.settings
.classpath
target
bin
.apodo
.metadata
/RemoteSystemsTempFiles/
*.log
package.sh
.recommenders
*~
tmp
proyecto-rem-online/sencha-app/classic.json
proyecto-rem-online/sencha-app/sass/example/bootstrap.js
proyecto-rem-online/sencha-app/sass/example/example.css
