<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:amq="http://activemq.apache.org/schema/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/tx
      					http://www.springframework.org/schema/tx/spring-tx.xsd
      					http://www.springframework.org/schema/util 
      					http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<util:properties id="appProperties" location="classpath:domain.properties" />

	<bean id="paginationManager"
		class="es.capgemini.devon.hibernate.pagination.PaginationManager">
	</bean>

	<util:list id="annotatedPackageClasses">
		<value>es.capgemini</value>
	</util:list>

	<util:list id="clasesAnotadas">
		<value>es.capgemini.pfs.actitudAptitudActuacion.model.ActitudAptitudActuacion
		</value>
		<value>es.capgemini.pfs.actitudAptitudActuacion.model.DDCausaImpago
		</value>
		<value>es.capgemini.pfs.actitudAptitudActuacion.model.DDPropuestaActuacion
		</value>
		<value>es.capgemini.pfs.actitudAptitudActuacion.model.DDTipoAyudaActuacion
		</value>
		<value>es.capgemini.pfs.acuerdo.model.ActuacionesAExplorarAcuerdo
		</value>
		<value>es.capgemini.pfs.acuerdo.model.ActuacionesRealizadasAcuerdo
		</value>
		<value>es.capgemini.pfs.acuerdo.model.Acuerdo</value>
		<value>es.capgemini.pfs.acuerdo.model.AnalisisAcuerdo</value>
		<value>es.capgemini.pfs.acuerdo.model.DDAnalisisCapacidadPago</value>
		<value>es.capgemini.pfs.acuerdo.model.DDCambioSolvenciaAcuerdo</value>
		<value>es.capgemini.pfs.acuerdo.model.DDConclusionTituloAcuerdo
		</value>
		<value>es.capgemini.pfs.acuerdo.model.DDEstadoAcuerdo</value>
		<value>es.capgemini.pfs.acuerdo.model.DDPeriodicidadAcuerdo</value>
		<value>es.capgemini.pfs.acuerdo.model.DDResultadoAcuerdoActuacion
		</value>
		<value>es.capgemini.pfs.acuerdo.model.DDSolicitante</value>
		<value>es.capgemini.pfs.acuerdo.model.DDSubtipoSolucionAmistosaAcuerdo
		</value>
		<value>es.capgemini.pfs.acuerdo.model.DDTipoActuacionAcuerdo</value>
		<value>es.capgemini.pfs.acuerdo.model.DDTipoAcuerdo</value>
		<value>es.capgemini.pfs.acuerdo.model.DDTipoAyudaAcuerdo</value>
		<value>es.capgemini.pfs.acuerdo.model.DDTipoPagoAcuerdo</value>
		<value>es.capgemini.pfs.acuerdo.model.DDTipoSolucionAmistosa</value>
		<value>es.capgemini.pfs.acuerdo.model.DDValoracionActuacionAmistosa
		</value>
		<value>es.capgemini.pfs.adjunto.model.Adjunto</value>
		<value>es.capgemini.pfs.alerta.model.Alerta</value>
		<value>es.capgemini.pfs.alerta.model.GrupoAlerta</value>
		<value>es.capgemini.pfs.alerta.model.GrupoCarga</value>
		<value>es.capgemini.pfs.alerta.model.NivelGravedad</value>
		<value>es.capgemini.pfs.alerta.model.TipoAlerta</value>
		<value>es.capgemini.pfs.analisisExterna.model.AnalisisExterna</value>
		<value>es.capgemini.pfs.analisisExterna.model.DDCriterioAnalisisExterna
		</value>
		<value>es.capgemini.pfs.analisisExterna.model.DDPlazoAceptacion
		</value>
		<value>es.capgemini.pfs.antecedenteexterno.model.AntecedenteExterno
		</value>
		<value>es.capgemini.pfs.antecedenteinterno.model.AntecedenteInterno
		</value>
		<value>es.capgemini.pfs.antecedente.model.Antecedente</value>
		<value>es.capgemini.pfs.arquetipo.model.Arquetipo</value>
		<value>es.capgemini.pfs.arquetipo.model.DDTipoSaltoNivel</value>
		<value>es.capgemini.pfs.asunto.model.AdjuntoAsunto</value>
		<value>es.capgemini.pfs.asunto.model.Asunto</value>
		<value>es.capgemini.pfs.asunto.model.DDEstadoAsunto</value>
		<value>es.capgemini.pfs.asunto.model.DDEstadoProcedimiento</value>
		<value>es.capgemini.pfs.asunto.model.DDTipoActuacion</value>
		<value>es.capgemini.pfs.asunto.model.DDTipoReclamacion</value>
		<value>es.capgemini.pfs.asunto.model.FichaAceptacion</value>
		<value>es.capgemini.pfs.asunto.model.HistoricoCambiosAsunto</value>
		<value>es.capgemini.pfs.asunto.model.ObservacionAceptacion</value>
		<value>es.capgemini.pfs.asunto.model.Procedimiento</value>
		<value>es.capgemini.pfs.asunto.model.ProcedimientoContratoExpediente
		</value>
		<value>es.capgemini.pfs.autologin.model.Token</value>
		<value>es.capgemini.pfs.bien.model.Bien</value>
		<value>es.capgemini.pfs.bien.model.ConfiguracionMailTipoBien</value>
		<value>es.capgemini.pfs.bien.model.DDTipoBien</value>
		<value>es.capgemini.pfs.cirbe.model.Cirbe</value>
		<value>es.capgemini.pfs.cirbe.model.DDClaseRiesgoCirbe</value>
		<value>es.capgemini.pfs.cirbe.model.DDCodigoOperacionCirbe</value>
		<value>es.capgemini.pfs.cirbe.model.DDPais</value>
		<value>es.capgemini.pfs.cirbe.model.DDTipoGarantiaCirbe</value>
		<value>es.capgemini.pfs.cirbe.model.DDTipoMonedaCirbe</value>
		<value>es.capgemini.pfs.cirbe.model.DDTipoSituacionCirbe</value>
		<value>es.capgemini.pfs.cirbe.model.DDTipoVencimientoCirbe</value>
		<value>es.capgemini.pfs.cliente.model.Cliente</value>
		<value>es.capgemini.pfs.cliente.model.ClienteContrato</value>
		<value>es.capgemini.pfs.cliente.model.EstadoCliente</value>
		<value>es.capgemini.pfs.cobropago.model.CobroPago</value>
		<value>es.capgemini.pfs.cobropago.model.DDEstadoCobroPago</value>
		<value>es.capgemini.pfs.cobropago.model.DDSubtipoCobroPago</value>
		<value>es.capgemini.pfs.cobropago.model.DDTipoCobroPago</value>
		<value>es.capgemini.pfs.comite.model.Asistente</value>
		<value>es.capgemini.pfs.comite.model.Comite</value>
		<value>es.capgemini.pfs.comite.model.DecisionComite</value>
		<value>es.capgemini.pfs.comite.model.DecisionComiteAutomatico</value>
		<value>es.capgemini.pfs.comite.model.PuestosComite</value>
		<value>es.capgemini.pfs.comite.model.SesionComite</value>
		<value>es.capgemini.pfs.comite.model.TraspasoExpediente</value>
		<value>es.capgemini.pfs.config.Config</value>
		<value>es.capgemini.pfs.contrato.model.AdjuntoContrato</value>
		<value>es.capgemini.pfs.contrato.model.Contrato</value>
		<value>es.capgemini.pfs.contrato.model.ContratoPersona</value>
		<value>es.capgemini.pfs.contrato.model.DDCatalogo1</value>
		<value>es.capgemini.pfs.contrato.model.DDCatalogo2</value>
		<value>es.capgemini.pfs.contrato.model.DDCatalogo3</value>
		<value>es.capgemini.pfs.contrato.model.DDCatalogo4</value>
		<value>es.capgemini.pfs.contrato.model.DDCatalogo5</value>
		<value>es.capgemini.pfs.contrato.model.DDCatalogo6</value>
		<value>es.capgemini.pfs.contrato.model.DDEstadoContrato</value>
		<value>es.capgemini.pfs.contrato.model.DDEstadoFinanciero</value>
		<value>es.capgemini.pfs.contrato.model.DDFinalidadContrato</value>
		<value>es.capgemini.pfs.contrato.model.DDFinalidadOficial</value>
		<value>es.capgemini.pfs.contrato.model.DDGarantiaContable</value>
		<value>es.capgemini.pfs.contrato.model.DDGarantiaContrato</value>
		<value>es.capgemini.pfs.contrato.model.DDMoneda</value>
		<value>es.capgemini.pfs.contrato.model.DDTipoIntervencion</value>
		<value>es.capgemini.pfs.contrato.model.DDTipoProducto</value>
		<value>es.capgemini.pfs.contrato.model.DDTipoProductoEntidad</value>
		<value>es.capgemini.pfs.decisionProcedimiento.model.DDCausaDecision
		</value>
		<value>es.capgemini.pfs.decisionProcedimiento.model.DDEstadoDecision
		</value>
		<value>es.capgemini.pfs.decisionProcedimiento.model.DecisionProcedimiento
		</value>
		<value>es.capgemini.pfs.despachoExterno.model.DDTipoDespachoExterno
		</value>
		<value>es.capgemini.pfs.despachoExterno.model.DespachoExterno</value>
		<value>es.capgemini.pfs.despachoExterno.model.GestorDespacho</value>
		<value>es.capgemini.pfs.direccion.model.DDProvincia</value>
		<value>es.capgemini.pfs.direccion.model.DDTipoVia</value>
		<value>es.capgemini.pfs.direccion.model.Direccion</value>
		<value>es.capgemini.pfs.direccion.model.Localidad</value>
		<value>es.capgemini.pfs.dsm.model.Entidad</value>
		<value>es.capgemini.pfs.dsm.model.EntidadConfig</value>
		<value>es.capgemini.pfs.embargoProcedimiento.model.EmbargoProcedimiento
		</value>
		<value>es.capgemini.pfs.exclusionexpedientecliente.model.ExclusionExpedienteCliente
		</value>
		<value>es.capgemini.pfs.expediente.model.AdjuntoExpediente</value>
		<value>es.capgemini.pfs.expediente.model.DDAmbitoExpediente</value>
		<value>es.capgemini.pfs.expediente.model.DDEstadoExpediente</value>
		<value>es.capgemini.pfs.expediente.model.DDMotivoExpedienteManual
		</value>
		<value>es.capgemini.pfs.expediente.model.Expediente</value>
		<value>es.capgemini.pfs.expediente.model.ExpedienteContrato</value>
		<value>es.capgemini.pfs.expediente.model.ExpedientePersona</value>
		<value>es.capgemini.pfs.expediente.model.PropuestaExpedienteManual
		</value>
		<value>es.capgemini.pfs.expediente.model.SolicitudCancelacion</value>
		<value>es.capgemini.pfs.favoritos.model.Favoritos</value>
		<value>es.capgemini.pfs.fichero.model.FicheroCargado</value>
		<value>es.capgemini.pfs.fichero.model.TipoFichero</value>
		<value>es.capgemini.pfs.grupoCliente.model.DDTipoGrupoCliente</value>
		<value>es.capgemini.pfs.grupoCliente.model.GrupoCliente</value>
		<value>es.capgemini.pfs.grupoCliente.model.PersonaGrupo</value>
		<value>es.capgemini.pfs.ingreso.model.DDTipoIngreso</value>
		<value>es.capgemini.pfs.ingreso.model.Ingreso</value>
		<value>es.capgemini.pfs.itinerario.model.DDEstadoItinerario</value>
		<value>es.capgemini.pfs.itinerario.model.DDTipoItinerario</value>
		<value>es.capgemini.pfs.itinerario.model.DDTipoReglasElevacion</value>
		<value>es.capgemini.pfs.itinerario.model.DDTipoReglaVigenciaPolitica
		</value>
		<value>es.capgemini.pfs.itinerario.model.Estado</value>
		<value>es.capgemini.pfs.itinerario.model.EstadoProceso</value>
		<value>es.capgemini.pfs.itinerario.model.Itinerario</value>
		<value>es.capgemini.pfs.itinerario.model.ReglasElevacion</value>
		<value>es.capgemini.pfs.itinerario.model.ReglasVigenciaPolitica
		</value>
		<value>es.capgemini.pfs.mapaGlobalOficina.model.DDCriterioAnalisis
		</value>
		<value>es.capgemini.pfs.mapaGlobalOficina.model.MapaGlobalOficina
		</value>
		<value>es.capgemini.pfs.metrica.model.FicheroMetrica</value>
		<value>es.capgemini.pfs.metrica.model.Metrica</value>
		<value>es.capgemini.pfs.metrica.model.MetricaTipoAlerta</value>
		<value>es.capgemini.pfs.metrica.model.MetricaTipoAlertaGravedad
		</value>
		<value>es.capgemini.pfs.movimiento.model.DDMovimientoExtra3</value>
		<value>es.capgemini.pfs.movimiento.model.DDMovimientoExtra4</value>
		<value>es.capgemini.pfs.movimiento.model.Movimiento</value>
		<value>es.capgemini.pfs.oficina.model.Oficina</value>
		<value>es.capgemini.pfs.parametrizacion.model.Parametrizacion</value>
		<value>es.capgemini.pfs.persona.model.AdjuntoPersona</value>
		<value>es.capgemini.pfs.persona.model.DDGrupoGestor</value>
		<value>es.capgemini.pfs.persona.model.DDPersonaExtra3</value>
		<value>es.capgemini.pfs.persona.model.DDPersonaExtra4</value>
		<value>es.capgemini.pfs.persona.model.DDPolitica</value>
		<value>es.capgemini.pfs.persona.model.DDRatingAuxiliar</value>
		<value>es.capgemini.pfs.persona.model.DDRatingExterno</value>
		<value>es.capgemini.pfs.persona.model.DDSexo</value>
		<value>es.capgemini.pfs.persona.model.DDTipoDocumento</value>
		<value>es.capgemini.pfs.persona.model.DDTipoPersona</value>
		<value>es.capgemini.pfs.persona.model.DDTipoTelefono</value>
		<value>es.capgemini.pfs.persona.model.HistoricoPrepoliticaPersona
		</value>
		<value>es.capgemini.pfs.persona.model.Persona</value>
		<value>es.capgemini.pfs.politica.model.AnalisisParcelaPersona</value>
		<value>es.capgemini.pfs.politica.model.AnalisisPersonaOperacion
		</value>
		<value>es.capgemini.pfs.politica.model.AnalisisPersonaPolitica</value>
		<value>es.capgemini.pfs.politica.model.CicloMarcadoPolitica</value>
		<value>es.capgemini.pfs.politica.model.DDCampoDestinoObjetivo</value>
		<value>es.capgemini.pfs.politica.model.DDEstadoCumplimiento</value>
		<value>es.capgemini.pfs.politica.model.DDEstadoItinerarioPolitica
		</value>
		<value>es.capgemini.pfs.politica.model.DDEstadoObjetivo</value>
		<value>es.capgemini.pfs.politica.model.DDEstadoPolitica</value>
		<value>es.capgemini.pfs.politica.model.DDImpacto</value>
		<value>es.capgemini.pfs.politica.model.DDMotivo</value>
		<value>es.capgemini.pfs.politica.model.DDParcelasPersonas</value>
		<value>es.capgemini.pfs.politica.model.DDTendencia</value>
		<value>es.capgemini.pfs.politica.model.DDTipoAnalisis</value>
		<value>es.capgemini.pfs.politica.model.DDTipoGestion</value>
		<value>es.capgemini.pfs.politica.model.DDTipoObjetivo</value>
		<value>es.capgemini.pfs.politica.model.DDTipoOperador</value>
		<value>es.capgemini.pfs.politica.model.DDTipoPolitica</value>
		<value>es.capgemini.pfs.politica.model.DDValoracion</value>
		<value>es.capgemini.pfs.politica.model.Objetivo</value>
		<value>es.capgemini.pfs.politica.model.ParcelaPersonaSegmento</value>
		<value>es.capgemini.pfs.politica.model.Politica</value>
		<value>es.capgemini.pfs.procedimientoDerivado.model.ProcedimientoDerivado
		</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.DDAccionAuto</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.DDCompletitud</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.DDCorrecto</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.DDCorrectoCobro
		</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.DDFaseProcesal
		</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.DDFavorable</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.DDImpugnacion1
		</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.DDImpugnacion2
		</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.DDInstrucciones
		</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.DDPositivoNegativo
		</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.DDPostores1</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.DDPostores2</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.DDResultadoResolucion
		</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.DDSiNo</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.DDSuspension</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.DDTerceros</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.PlazoTareaExternaPlaza
		</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.TareaExterna</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.TareaExternaRecuperacion
		</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.TareaExternaValor
		</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.TareaProcedimiento
		</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.TipoJuzgado</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.TipoPlaza</value>
		<value>es.capgemini.pfs.procesosJudiciales.model.TipoProcedimiento
		</value>
		<value>es.capgemini.pfs.prorroga.model.CausaProrroga</value>
		<value>es.capgemini.pfs.prorroga.model.DDTipoProrroga</value>
		<value>es.capgemini.pfs.prorroga.model.Prorroga</value>
		<value>es.capgemini.pfs.prorroga.model.RespuestaProrroga</value>
		<value>es.capgemini.pfs.recuperacion.model.Recuperacion</value>
		<value>es.capgemini.pfs.recurso.model.DDActor</value>
		<value>es.capgemini.pfs.recurso.model.DDCausaRecurso</value>
		<value>es.capgemini.pfs.recurso.model.DDTipoRecurso</value>
		<value>es.capgemini.pfs.recurso.model.Recurso</value>
		<value>es.capgemini.pfs.ruleengine.rule.dd.DDRule</value>
		<value>es.capgemini.pfs.ruleengine.rule.definition.RuleDefinition
		</value>
		<value>es.capgemini.pfs.scoring.model.PuntuacionParcial</value>
		<value>es.capgemini.pfs.scoring.model.PuntuacionTotal</value>
		<value>es.capgemini.pfs.security.model.Authority</value>
		<value>es.capgemini.pfs.security.model.FuncionSecurity</value>
		<value>es.capgemini.pfs.security.model.PerfilSecurity</value>
		<value>es.capgemini.pfs.security.model.UsuarioSecurity</value>
		<value>es.capgemini.pfs.segmento.model.DDSegmento</value>
		<value>es.capgemini.pfs.segmento.model.DDSegmentoEntidad</value>
		<value>es.capgemini.pfs.subfase.model.DDFase</value>
		<value>es.capgemini.pfs.subfase.model.Subfase</value>
		<value>es.capgemini.pfs.tareaNotificacion.model.ComunicacionBPM
		</value>
		<value>es.capgemini.pfs.tareaNotificacion.model.DDTipoEntidad</value>
		<value>es.capgemini.pfs.tareaNotificacion.model.PlazoTareasDefault
		</value>
		<value>es.capgemini.pfs.tareaNotificacion.model.SubtipoTarea</value>
		<value>es.capgemini.pfs.tareaNotificacion.model.TareaNotificacion
		</value>
		<value>es.capgemini.pfs.tareaNotificacion.model.TipoTarea</value>
		<value>es.capgemini.pfs.telecobro.model.DDMotivosExclusionTelecobro
		</value>
		<value>es.capgemini.pfs.telecobro.model.EstadoTelecobro</value>
		<value>es.capgemini.pfs.telecobro.model.ProveedorTelecobro</value>
		<value>es.capgemini.pfs.telecobro.model.SolicitudExclusionTelecobro
		</value>
		<value>es.capgemini.pfs.titulo.model.DDSituacion</value>
		<value>es.capgemini.pfs.titulo.model.DDTipoTitulo</value>
		<value>es.capgemini.pfs.titulo.model.DDTipoTituloGeneral</value>
		<value>es.capgemini.pfs.titulo.model.Titulo</value>
		<value>es.capgemini.pfs.users.domain.Funcion</value>
		<value>es.capgemini.pfs.users.domain.FuncionPerfil</value>
		<value>es.capgemini.pfs.users.domain.Perfil</value>
		<value>es.capgemini.pfs.users.domain.Usuario</value>
		<value>es.capgemini.pfs.zona.model.DDZona</value>
		<value>es.capgemini.pfs.zona.model.Nivel</value>
		<value>es.capgemini.pfs.zona.model.ZonaUsuarioPerfil</value>
		<value>es.pfsgroup.plugins.domain.EntidadPlugin</value>
		<value>es.pfsgroup.plugins.domain.PluginConfig</value>
	</util:list>

	<bean id="sessionFactory" parent="abstractSessionFactory">
		<!--
			<property name="packagesToScan"> <list>
			<value>com/test/**/model</value> </list> </property>
		-->
		<property name="annotatedClasses" ref="clasesAnotadas" />
	</bean>

	<bean id="transactionManager" parent="abstractTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>