<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:amq="http://activemq.apache.org/schema/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/tx
      					http://www.springframework.org/schema/tx/spring-tx.xsd
      					http://www.springframework.org/schema/util 
      					http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<util:properties id="appProperties" location="classpath:domain.properties" />

	<bean id="paginationManager"
		class="es.capgemini.devon.hibernate.pagination.PaginationManager">
	</bean>

<!-- 
	<util:list id="annotatedPackageClasses">
		<value>es.capgemini</value>
	</util:list>
 -->
	<util:list id="clasesAnotadas">		
		<value>es.pfsgroup.recovery.ugas.procesosJudiciales.model</value>
	</util:list>

	<bean id="sessionFactory" parent="abstractSessionFactory">
		<!--
			<property name="packagesToScan"> <list>
			<value>com/test/**/model</value> </list> </property>
		-->
		<property name="annotatedClasses" ref="clasesAnotadas" />
	</bean>

	<bean id="transactionManager" parent="abstractTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>