@include treelist-ui(
    $ui: 'navigation',
    $padding: 0 10px,

    // Black-ish background color
    $background-color: $color-blue-medium,
    $toolstrip-background-color: $color-blue-medium,

    $tool-float-indicator-color: $panel-header-background-color,
    $tool-float-indicator-width: 0px,

    $tool-indicator-selected-color: $panel-header-background-color,
    $tool-indicator-selected-width: 0px,
    $tool-selected-background-color: mix(white, $panel-navigation-background-color, 10%),
    //$tool-selected-color: #fff,
    //$tool-selected-background-color: $panel-header-background-color,

    // Darker background for expanded subtrees
    $item-expanded-background-color: #2c3845,

    // Taller line height
    $item-line-height : $panel-navigation-item-line-height,

    $row-over-background-color: mix(white, $panel-navigation-background-color, 5%),
    $row-selected-background-color: mix(white, $panel-navigation-background-color, 10%),

    // Off-white text
    $item-icon-color: $panel-navigation-item-text-color,
    $item-expander-color: #fff,
    $item-text-color: #fff,

    // Brighter when hovered
    $item-icon-over-color: #fff,
    $item-expander-over-color: #fff,
    $item-text-font-size: 14px,

    // Various sizes for the pieces:
    $item-icon-font-size: 18px,
    $item-icon-width: 44px,
    $item-expander-font-size: 16px,
    $item-expander-width: 0px,

    // Style the "row indicator" (the vertical stripe on the left edge):
    $row-indicator-width: 5px,
    $row-indicator-selected-color: $panel-header-background-color,
    $row-indicator-selected-over-color: lighten($panel-header-background-color, 7%),
    $row-indicator-over-color: transparent
);



//UI Styles for buttons
@include extjs-button-small-ui(
    $ui: 'soft-blue',
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%)
);
@include extjs-button-large-ui(
    $ui: 'soft-blue',
    $line-height: 34px,
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-blue',
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%)
);


@include extjs-button-small-ui(
    $ui: 'soft-cyan',
    $background-color: $color-soft-cyan,
    $border-color: darken($color-soft-cyan, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-cyan',
    $background-color: $color-soft-cyan,
    $border-color: darken($color-soft-cyan, 5%)
);


@include extjs-button-small-ui(
    $ui: 'soft-green',
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);
@include extjs-button-large-ui(
    $ui: 'soft-green',
    $line-height: 34px,
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-green',
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);



@include extjs-button-small-ui(
    $ui: 'soft-red',
    $background-color: $color-soft-red,
    $border-color:darken($color-soft-red, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-red',
    $background-color: $color-soft-red,
    $border-color:darken($color-soft-red, 5%)
);


@include extjs-button-small-ui(
    $ui: 'soft-purple',
    $background-color: $color-soft-purple,
    $border-color:darken($color-soft-purple, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-purple',
    $background-color: $color-soft-purple,
    $border-color:darken($color-soft-purple, 5%)
);


@include extjs-button-small-ui(
    $ui: 'gray',
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%)
);
@include extjs-button-large-ui(
    $ui: 'gray',
    $line-height: 34px,
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'gray',
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%)
);

@include extjs-button-small-ui(
    $ui: 'green',
    $background-color: $color-green,
    $border-color:darken($color-green, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'green',
    $background-color: $color-green,
    $border-color:darken($color-green, 5%)
);


@include extjs-button-small-ui(
    $ui: 'blue',
    $background-color: $color-blue,
    $border-color:darken($color-blue, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'blue',
    $background-color: $color-blue,
    $border-color:darken($color-blue, 5%)
); 


.logo {

    background-color: #FFFFFF;
    width: 100px !important;
    margin: 5px 0 0 15px !important;
    left: 0px !important;
}

.logo-headerbar {
    position:fixed;
    width:100%;
    z-index:10;
    border:none;
    background-color: #fff;
}

.logo-headerbar .version {
  color: $color-blue-medium;
  padding-top: 12px !important;
  margin-left: 0;
  padding-left: 0;
}


.right-main-container {
  background-color: #fff;
}

// Modificado para quitar la linea de separación de la cabecera con el body
.toolbar-btn-shadow{
	
	-webkit-box-shadow: 0 0 0 #dedede !important;
	-moz-box-shadow: 0 0 0 #dedede !important;
	-ms-box-shadow: 0 0 0 #dedede !important;
	box-shadow: 0 0 0 #dedede !important;
	
    @include box-shadow(0 3px 3px #dedede);
    .x-btn-over{
        background-color: $button-toolbar-hover-background-color;
    }
}



.delete-focus-bg {
    &:focus, &:hover{
        background: none;
    }
}

.logo-headerbar .x-toolbar-text, .logo-headerbar .x-btn-icon-el-default-toolbar-small,
.logo-headerbar .x-btn-inner-default-toolbar-small{
  font-family: OpenSansItalic, sans-serif;
  color: #545454;
}
.logo-headerbar .x-toolbar-text, .logo-headerbar .x-btn-icon-el-default-toolbar-small{
  font-size: 16px;
}

.logo-headerbar .x-btn-inner-default-toolbar-small{
  font-size: 12px;
}

.logo-headerbar .x-toolbar-item.x-btn-default-toolbar-small {
	top: 12px !important;
}

.app-logo {
  background-image: url(images/logo.svg);
  background-repeat: no-repeat;
  height: 40px;
  width: 70px !important;
  margin-left: 5px !important;
  padding-left: 60px;
  padding-top: 20px;
  font-size: 11px!important;
}

.app-logo-derecha {
  background-image: url(images/logo_haya_azul_menusuperior.svg);
  background-repeat: no-repeat;
  height: 55px;
  width: 35px !important;
  top: 8px !important
}
.app-logo-izquierda {
  background-image: url(images/logo.svg);
  background-repeat: no-repeat;
  height: 50px;
  width: 100px !important;
  float: left;
  position: fixed !important;
  top: 2px !important;
  left: 80px !important;
}

.app-logo-login-izquierda {
  
  background-image: url(images/logo.svg);
  background-repeat: no-repeat;
  height: 150px;
  width: 150px !important;
  float: left;
  position: fixed !important;
  top: 2px !important;
  left: 20px !important;

}


.app-tb-ico {
  background-size: 28px 28px;
  width: 28px !important;
  height: 28px;
}

.app-tbfiedset-ico {
  background-size: 14px 14px;
  width: 14px !important;
  height: 14px;
}

.app-menu-ico {
  background-size: 30px 30px !important;
  width: 60px !important;
  height: $panel-navigation-item-line-height+4 !important;
  cursor: pointer;
}


.app-agenda-menu-ico {
  background-size: 36px 36px;
  width: 16px !important;
  height: 16px;
}

// ESTILOS MENU PRINCIPAL-------------------------------------------///////-----------------------------------------------------

.app-menu .x-treelist-toolstrip {
	margin: 105px 0 0 0;
}
//----------------- DASHBOARD
.app-menu-ico.ico-dashboard {  
  background: url(images/ico_dashboard_des.svg) center center no-repeat;
}
.app-menu-ico.ico-dashboard:hover {  
  background: url(images/ico_dashboard_des.svg) center center no-repeat;
  background-color: $color-blue-soft;
  border-top: 2px solid   $color-blue-soft;
  border-bottom: 2px solid  $color-blue-soft;

}
.app-menu-ico.x-treelist-item-selected.ico-dashboard {  
  background: url(images/ico_dashboard_act.svg) center center no-repeat;
  background-color: #054664 !important;
}
.app-menu-ico.x-treelist-item-selected.ico-dashboard:hover {  
  background: url(images/ico_dashboard_des.svg) center center no-repeat;
}
//------------------ AGENDA
.app-menu-ico.ico-diary {  
  background: url(images/ico_tareas_des.svg) center center no-repeat;
}
.app-menu-ico.ico-diary:hover {  
  background: url(images/ico_tareas_des.svg) center center no-repeat;
  background-color: $color-blue-soft;
  border-top: 2px solid   $color-blue-soft;
  border-bottom: 2px solid  $color-blue-soft;

}
.app-menu-ico.x-treelist-item-selected.ico-diary {  
  background: url(images/ico_tareas_act.svg) center center no-repeat;
  background-color: #054664 !important;
}
.app-menu-ico.x-treelist-item-selected.ico-diary:hover {  
  background: url(images/ico_tareas_des.svg) center center no-repeat;
}

//----------------- ACTIVOS
.app-menu-ico.ico-home {  
  background: url(images/ico_activos_des.svg) center center no-repeat;
}
.app-menu-ico.ico-home:hover {  
  background: url(images/ico_activos_des.svg) center center no-repeat;
  background-color: $color-blue-soft;
  border-top: 2px solid   $color-blue-soft;
  border-bottom: 2px solid  $color-blue-soft;

}
.app-menu-ico.x-treelist-item-selected.ico-home {  
  background: url(images/ico_activos_act.svg) center center no-repeat;
  background-color: #054664 !important;
}
.app-menu-ico.x-treelist-item-selected.ico-home:hover {  
  background: url(images/ico_activos_des.svg) center center no-repeat;
}

//----------------- AGRUPACIONES
.app-menu-ico.ico-agrupaciones {  
  background: url(images/ico_agrupaciones_des.svg) center center no-repeat;
}
.app-menu-ico.ico-agrupaciones:hover {  
  background: url(images/ico_agrupaciones_des.svg) center center no-repeat;
  background-color: $color-blue-soft;
  border-top: 2px solid   $color-blue-soft;
  border-bottom: 2px solid  $color-blue-soft;

}
.app-menu-ico.x-treelist-item-selected.ico-agrupaciones {  
  background: url(images/ico_agrupaciones_act.svg) center center no-repeat;
  background-color: #054664 !important;
}
.app-menu-ico.x-treelist-item-selected.ico-agrupaciones:hover {  
  background: url(images/ico_agrupaciones_des.svg) center center no-repeat;
}

//----------------- TRABAJOS
.app-menu-ico.ico-trabajos {  
  background: url(images/ico_trabajos_des.svg) center center no-repeat;
}
.app-menu-ico.ico-trabajos:hover {  
  background: url(images/ico_trabajos_des.svg) center center no-repeat;
  background-color: $color-blue-soft;
  border-top: 2px solid   $color-blue-soft;
  border-bottom: 2px solid  $color-blue-soft;

}
.app-menu-ico.x-treelist-item-selected.ico-trabajos {  
  background: url(images/ico_trabajos_act.svg) center center no-repeat;
  background-color: #054664 !important;
}
.app-menu-ico.x-treelist-item-selected.ico-trabajos:hover {  
  background: url(images/ico_trabajos_des.svg) center center no-repeat;
}

//----------------- OFERTAS
.app-menu-ico.ico-oferta {  
  background: url(images/ico_ofertas_des.svg) center center no-repeat;
}
.app-menu-ico.ico-oferta:hover {  
  background: url(images/ico_ofertas_des.svg) center center no-repeat;
  background-color: $color-blue-soft;
  border-top: 2px solid   $color-blue-soft;
  border-bottom: 2px solid  $color-blue-soft;
}
.app-menu-ico.x-treelist-item-selected.ico-oferta {  
  background: url(images/ico_ofertas_act.svg) center center no-repeat;
  background-color: #054664 !important;
}
.app-menu-ico.x-treelist-item-selected.ico-oferta:hover {  
  background: url(images/ico_ofertas_des.svg) center center no-repeat;
}

//----------------- MASIVO
.app-menu-ico.ico-masivo {  
  background: url(images/ico_cargamasiva_des.svg) center center no-repeat;
}
.app-menu-ico.ico-masivo:hover {  
  background: url(images/ico_cargamasiva_des.svg) center center no-repeat;
  background-color: $color-blue-soft;
  border-top: 2px solid   $color-blue-soft;
  border-bottom: 2px solid  $color-blue-soft;
}
.app-menu-ico.x-treelist-item-selected.ico-masivo {  
  background: url(images/ico_cargamasiva_act.svg) center center no-repeat;
  background-color: #054664 !important;
}
.app-menu-ico.x-treelist-item-selected.ico-masivo:hover {  
  background: url(images/ico_cargamasiva_des.svg) center center no-repeat;
}

//----------------- PRECIOS
.app-menu-ico.ico-precios {  
  background: url(images/ico_precios_des.svg) center center no-repeat;
}
.app-menu-ico.ico-precios:hover {  
  background: url(images/ico_precios_des.svg) center center no-repeat;
  background-color: $color-blue-soft;
  border-top: 2px solid   $color-blue-soft;
  border-bottom: 2px solid  $color-blue-soft;
}
.app-menu-ico.x-treelist-item-selected.ico-precios {  
  background: url(images/ico_precios_act.svg) center center no-repeat;
  background-color: #054664 !important;
}
.app-menu-ico.x-treelist-item-selected.ico-precios:hover {  
  background: url(images/ico_precios_des.svg) center center no-repeat;
}

//----------------- PUBLICACION
.app-menu-ico.ico-publicacion {  
  background: url(images/ico_publicacion_des.svg) center center no-repeat;
}
.app-menu-ico.ico-publicacion:hover {  
  background: url(images/ico_publicacion_des.svg) center center no-repeat;
  background-color: $color-blue-soft;
  border-top: 2px solid   $color-blue-soft;
  border-bottom: 2px solid  $color-blue-soft;
}
.app-menu-ico.x-treelist-item-selected.ico-publicacion {  
  background: url(images/ico_publicacion_act.svg) center center no-repeat;
  background-color: #054664 !important;
}
.app-menu-ico.x-treelist-item-selected.ico-publicacion:hover {  
  background: url(images/ico_publicacion_des.svg) center center no-repeat;
}

//----------------- COMERCIALIZACION
.app-menu-ico.ico-comercializacion {  
  background: url(images/ico_modulocomercial_des.svg) center center no-repeat;
}
.app-menu-ico.ico-comercializacion:hover {  
  background: url(images/ico_modulocomercial_des.svg) center center no-repeat;
  background-color: $color-blue-soft;
  border-top: 2px solid   $color-blue-soft;
  border-bottom: 2px solid  $color-blue-soft;
}
.app-menu-ico.x-treelist-item-selected.ico-comercializacion {  
  background: url(images/ico_modulocomercial_act.svg) center center no-repeat;
  background-color: #054664 !important;
}
.app-menu-ico.x-treelist-item-selected.ico-comercializacion:hover {  
  background: url(images/ico_modulocomercial_des.svg) center center no-repeat;
}

//----------------- CONFIGURACION
.app-menu-ico.ico-configuracion {  
  background: url(images/ico_configuracion_actdeshover.svg) center center no-repeat;
}
.app-menu-ico.ico-configuracion:hover {  
  background: url(images/ico_configuracion_actdeshover.svg) center center no-repeat;
  background-color: $color-blue-soft;
  border-top: 2px solid   $color-blue-soft;
  border-bottom: 2px solid  $color-blue-soft;
}
.app-menu-ico.x-treelist-item-selected.ico-configuracion {  
  background: url(images/ico_configuracion_actdeshover.svg) center center no-repeat;
  background-color: #054664 !important;
}
.app-menu-ico.x-treelist-item-selected.ico-configuracion:hover {  
  background: url(images/ico_configuracion_actdeshover.svg) center center no-repeat;
}

//----------------- ADMINISTRACION
.app-menu-ico.ico-administracion {  
  background: url(images/ico_administracion_des.svg) center center no-repeat;
}
.app-menu-ico.ico-administracion:hover {  
  background: url(images/ico_administracion_des.svg) center center no-repeat;
  background-color: $color-blue-soft;
  border-top: 2px solid   $color-blue-soft;
  border-bottom: 2px solid  $color-blue-soft;
}
.app-menu-ico.x-treelist-item-selected.ico-administracion {  
  background: url(images/ico_administracion_act.svg) center center no-repeat;
  background-color: #054664 !important;
}
.app-menu-ico.x-treelist-item-selected.ico-administracion:hover {  
  background: url(images/ico_administracion_des.svg) center center no-repeat;
}

//-----------------------------------------


.app-menu-item.x-treelist-floater {
	  width: 120px !important;
	  border-left: none;
	  background-color: transparent;
	  z-index: 9999 !important;
	  	@include box-shadow(0px, 4px, 2px, 2px, rgba(0,0,0,0.2));
}
.app-menu-item.x-treelist-item-floated {
	  border-top: 2px solid   $color-blue-soft;
	  border-bottom: 2px solid  $color-blue-soft;
	  border-right: 2px solid  $color-blue-soft;
	  border-top-right-radius: 4px;
	  border-bottom-right-radius: 4px;
	  z-index: 9999 !important;
	  background-color: $color-blue-soft; 
	  @include box-shadow(0px, 4px, 2px, 2px, rgba(0,0,0,0.2)); 
}

.app-menu-item.x-treelist-item-floated.x-treelist-item-selected {
	  border-top: 2px solid   $color-blue;
	  border-bottom: 2px solid  $color-blue;
	  border-right: 2px solid  $color-blue;
	  
}

.app-menu .x-treelist-item-tool {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

}

.app-menu .x-treelist-item-selected.x-treelist-item-tool {
	  border-left: none;
	  border-right: 2px solid #fff;
	  border-top: 2px solid #fff;
	  border-bottom: 2px solid #fff;
}


.app-menu-item.x-treelist-item-floated .x-treelist-row {
	padding-left: 10px;
}

.app-menu .x-treelist-item-tool-floated,.app-menu-item.x-treelist-item-floated .x-treelist-row, .app-menu-item.x-treelist-item-floated .x-treelist-row:hover {
	background-color: $color-blue-soft;
}	

.app-menu .x-treelist-item-selected, .app-menu .x-treelist-item-selected.x-treelist-item-tool-floated,
.app-menu-item.x-treelist-item-floated.x-treelist-item-selected .x-treelist-row, .app-menu-item.x-treelist-item-selected.x-treelist-item-floated .x-treelist-row:hover {
	background-color: $color-blue;
}


.app-menu-item.x-treelist-item-floated.x-treelist-item-selected .x-treelist-item-text,
.app-menu-item.x-treelist-item-floated.x-treelist-item-selected .x-treelist-item-text:hover  {
	color: #fff !important;
	font-weight: bold;	
}

.app-menu-item.x-treelist-item-floated .x-treelist-item-text,
.app-menu-item.x-treelist-item-floated .x-treelist-item-text:hover {
	color: $color-blue-medium !important;
	font-size: 13px;
	font-weight: bold;
}





// -------------- FIN ESTILOS MENU PRINCIPAL

.ico-favoritos{  
  background: url(images/ico_favorito.svg);
}

.ico-favoritos-added {  
  background: url(images/ico_favorito_added.svg);
}

.boton-favorito {
	width: 22px !important;
    height: 20px !important;
    top: 10px !important;
    background-color: $color-blue-medium;
    border: 0px;
    border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
}

.x-btn-default-small.boton-favorito {
	width: 22px !important;
    height: 20px !important;
    top: 10px !important;
    background-color: $color-blue-medium;
    border: 0px;
    border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
}

.boton-favorito:hover {
	width: 22px !important;
    height: 20px !important;
    top: 10px !important;
    background-color: $color-blue-medium !important;
    border: 0px;
    border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
}

.app-buscador-ico {
  background-size: 16px 16px;
  width: 16px !important;
  height: 16px;
  
}

.trigger-filter-expanded .ico-chevron-down {
  
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  rotation: 180deg;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);

}

.global-filter-panel {
  background-color: #fff !important;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.menu-favoritos {
		    &:focus, &:hover{
	    background: #fff;
	}

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: 2px outset #D3D3D3;
	  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);

}

.menu-favoritos .x-menu-body {
		    &:focus, &:hover{
	    background: #fff;
	}
  background-color:#fff;

}

.menu-favoritos .item-sin-favoritos .x-menu-item-link {
	text-align: center;
}

.menu-favoritos .item-sin-favoritos .x-menu-item-text, .menu-favoritos .item-favorito .x-menu-item-text{
  	font-size: 13px !important;
  	line-height: 20px;
  	margin-right: 4px;
  	text-align: left;
  	color: $color-blue-medium;
}

.item-favorito .x-menu-item-text-default.x-menu-item-indent-no-separator {
	margin-left: 30px!important; 
}

.item-favorito .x-treelist-item-icon {
  margin-left: 0px !important;
  line-height: 40px;
  font-size: 11px;
  width: 20px;

}

.app-version {
     margin-top: 12px !important;
     font-size: 1.1em !important;
     left: 75px !important;
}

