<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%c] - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.StringMatchFilter">
			<param name="StringToMatch" value="JBPM_" />
			<param name="AcceptOnMatch" value="false" />
		</filter>
	</appender>

	<appender name="file"
		class="es.capgemini.pfs.utils.log4j.CustomRollingFileAppender">
		<param name="file" value="{DEVON_HOME}/log/pfs_web.log" />
		<param name="MaxFileSize" value="2MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%c] - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.StringMatchFilter">
			<param name="StringToMatch" value="JBPM_" />
			<param name="AcceptOnMatch" value="false" />
		</filter>
	</appender>

	<appender name="fileRest"
		class="es.capgemini.pfs.utils.log4j.CustomRollingFileAppender">
		<param name="file" value="{DEVON_HOME}/log/rem_rest.log" />
		<param name="MaxFileSize" value="2MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%c] - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.StringMatchFilter">
			<param name="StringToMatch" value="JBPM_" />
			<param name="AcceptOnMatch" value="false" />
		</filter>
	</appender>
	
	<appender name="excelExport"
		class="es.capgemini.pfs.utils.log4j.CustomRollingFileAppender">
		<param name="file" value="{DEVON_HOME}/log/rem_excel_export.log" />
		<param name="MaxFileSize" value="2MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%c] - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.StringMatchFilter">
			<param name="StringToMatch" value="JBPM_" />
			<param name="AcceptOnMatch" value="false" />
		</filter>
	</appender>
	
	 <!-- Incluido por PBO -->
	<appender name="oauth2"
                class="es.capgemini.pfs.utils.log4j.CustomRollingFileAppender">
                <param name="file" value="{DEVON_HOME}/log/rem_oauth2.log" />
                <param name="MaxFileSize" value="2MB" />
                <param name="MaxBackupIndex" value="10" />
                <layout class="org.apache.log4j.PatternLayout">
                        <param name="ConversionPattern" value="%d %p [%c] - %m%n" />
                </layout>
        </appender>
        <!-- Fin PBO -->
	
	<appender name="fileAdvancedLog"
		class="es.capgemini.pfs.utils.log4j.CustomRollingFileAppender">
		<param name="file" value="{DEVON_HOME}/log/rem_advanced.log" />
		<param name="MaxFileSize" value="2MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%c] - %m%n" />
		</layout>
	</appender>

	<appender name="logTrustEvento" class="es.capgemini.pfs.utils.log4j.CustomRollingFileAppender">
		<param name="file" value="{DEVON_HOME}/log/logtrust/logTrust_evento.log" />
		<param name="MaxFileSize" value="2MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<appender name="logTrustAcceso" class="es.capgemini.pfs.utils.log4j.CustomRollingFileAppender">
		<param name="file" value="{DEVON_HOME}/log/logtrust/logTrust_acceso.log" />
		<param name="MaxFileSize" value="2MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<appender name="logTrustWebService" class="es.capgemini.pfs.utils.log4j.CustomRollingFileAppender">
		<param name="file" value="{DEVON_HOME}/log/logtrust/logTrust_ws.log" />
		<param name="MaxFileSize" value="2MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<!-- Hay que setear la propiedad de sistema log.mail.sendError = true si
		se quiere el envio de mails -->
	<appender name="email"
		class="es.capgemini.pfs.utils.log4j.CustomSMTPAppender">
		<param name="BufferSize" value="1" />
		<param name="SMTPHost" value="{log.mail.SMTPHost}" />
		<param name="From" value="{log.mail.From}" />
		<param name="To" value="{log.mail.To}" />
		<param name="Subject" value="{log.mail.Subject}" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%c] - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="error" />
			<param name="LevelMax" value="fatal" />
		</filter>
	</appender>
	
	<appender name="syslog" class="es.capgemini.pfs.utils.log4j.CustomRollingFileAppender">
        <param name="file" value="${syslogLocation}/syslog.log"/>
        <param name="MaxFileSize" value="2MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="&lt;${syslogCode}&gt; %d ${syslogMachine} ${syslogProgram}: %p - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.StringMatchFilter">
            <param name="StringToMatch" value="JBPM_" />
            <param name="AcceptOnMatch" value="false" />
        </filter>
    </appender>

	<!-- DEVON -->
	<logger name="es.capgemini.devon" additivity="false">
		<level value="info" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
		<appender-ref ref="email" />
	</logger>
	<!-- <logger name="es.capgemini.devon.webflow.view.WebflowJSPView" additivity="false">
		<level value="fatal" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
		<appender-ref ref="email" />
	</logger> -->
	<!-- PFS -->
	<logger name="es.capgemini.pfs" additivity="false">
		<level value="info" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
		<appender-ref ref="email" />
	</logger>

	<!-- Spring -->
	<logger name="org.springframework"
		additivity="false">
		<level value="fatal" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
		<appender-ref ref="email" />
	</logger>
	<logger name="org.springframework.aop.framework.Cglib2AopProxy"
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
		<appender-ref ref="email" />
	</logger>

	<!-- <logger name="org.springframework" additivity="false"> <level value="warn"/>
		<appender-ref ref="console" /> <appender-ref ref="file" /> <appender-ref ref="syslog" /> </logger> <logger 
		name="org.springframework.binding.mapping" additivity="false"> <level value="warn"/> 
		<appender-ref ref="console" /> <appender-ref ref="file" /> <appender-ref ref="syslog" /> </logger> <logger 
		name="org.springframework.webflow" additivity="false"> <level value="warn"/> 
		<appender-ref ref="console" /> <appender-ref ref="file" /> <appender-ref ref="syslog" /> </logger> -->

	<logger name="org.springframework.security.ldap" additivity="false">
		<level value="warn" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
	</logger>

	<!-- Hibernate -->
	<logger name="org.hibernate.event.def.AbstractFlushingEventListener"
		additivity="false">
		<level value="fatal" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
		<appender-ref ref="email" />
	</logger>

	<logger name="org.hibernate.cache" additivity="false">
		<level value="warn" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
		<appender-ref ref="email" />
	</logger>

	<logger name="org.hibernate.cache.CacheFactory" additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
		<appender-ref ref="email" />
	</logger>

	<logger name="org.hibernate.cache.EhCacheProvider" additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
		<appender-ref ref="email" />
	</logger>

	<logger name="org.hibernate.engine.StatefulPersistenceContext"
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
		<appender-ref ref="email" />
	</logger>
	<logger name="org.jbpm.graph.def.GraphElement" additivity="false">
		<level value="fatal" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
		<appender-ref ref="email" />
	</logger>
	<logger name="es.pfsgroup.plugin.gestorDocumental" additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
		<appender-ref ref="email" />
	</logger>

	<logger name="es.pfsgroup.plugin.rem.utils" additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
		<appender-ref ref="email" />
	</logger>
	
	<logger name="es.pfsgroup.plugin.rem.restclient" 
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="fileRest" />
	</logger>
	
	<logger name="es.pfsgroup.plugin.rem.rest" 
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="fileRest" />
	</logger>

	<logger name="es.pfsgroup.plugin.rem.controller.ClientesController"
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="fileRest" />
	</logger>

	<logger name="es.pfsgroup.plugin.rem.controller.VisitasController"
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="fileRest" />
	</logger>

	<logger name="es.pfsgroup.plugin.rem.controller.OfertasController"
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="fileRest" />
	</logger>

	<logger name="es.pfsgroup.plugin.rem.controller.TrabajoController"
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
	</logger>

	<logger name="es.pfsgroup.plugin.rem.controller.ComisionesController"
		additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="fileRest" />
	</logger>

	<logger name="es.pfsgroup.plugin.rem.controller.NotificacionesController"
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="fileRest" />
	</logger>

	<logger name="es.pfsgroup.plugin.rem.controller.InformemediadorController"
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="fileRest" />
	</logger>

	<logger name="es.pfsgroup.plugin.rem.controller.PortalesController"
		additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="fileRest" />
	</logger>

	<logger name="es.pfsgroup.plugin.rem.controller.PropuestaresolucionController"
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="fileRest" />
	</logger>

	<logger name="es.pfsgroup.plugin.rem.controller.ReservaController"
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="fileRest" />
	</logger>

	<logger name="es.pfsgroup.plugin.rem.controller.ReintegroController"
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="fileRest" />
	</logger>

	<logger name="es.pfsgroup.plugin.rem.controller.ConfirmacionoperacionController"
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="fileRest" />
	</logger>

	<logger name="es.pfsgroup.plugin.rem.controller.ResolucionComiteController"
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="fileRest" />
	</logger>
	<logger name="es.pfsgroup.plugin.rem.api.impl.UvemManager"
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
	</logger>
	<logger name="es.pfsgroup.plugin.rem.controller.GestorSustitutoController"
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
	</logger>
	<logger name="es.pfsgroup.plugin.rem.rest.api.impl.GestorDocumentalFotos"
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="fileRest" />
	</logger>
	
	<logger name="es.pfsgroup.plugin.log.advanced.manager.LogAdvancedManager" 
		additivity="false">
		<level value="info" />
		<appender-ref ref="fileAdvancedLog" />
	</logger>
	
	<logger name="es.pfsgroup.plugin.rem.api.impl.MSVActualizadorVentaCartera"
		additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
	</logger>
	<logger name="javax.mail" additivity="false">
		<level value="fatal" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
		<appender-ref ref="email" />
	</logger>
	<logger name="es.capgemini.pfs.security.manager.RSASecurityDecrypter" additivity="false">
		<level value="fatal" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
		<appender-ref ref="email" />
	</logger>
	<logger name="es.pfsgroup.plugin.rem.utils.EmptyParamDetector" additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="excelExport" />
	</logger>

	<logger name="es.pfsgroup.plugin.rem.logTrust.LogTrustEvento" additivity="false">
		<level value="debug" />
		<appender-ref ref="logTrustEvento" />
	</logger>

	<logger name="es.pfsgroup.plugin.rem.logTrust.LogTrustAcceso" additivity="false">
		<level value="debug" />
		<appender-ref ref="logTrustAcceso" />
	</logger>

	<logger name="es.pfsgroup.plugin.rem.logTrust.LogTrustWebService" additivity="false">
		<level value="debug" />
		<appender-ref ref="logTrustWebService" />
	</logger>

	<!-- Introducido por PBO -->
	<logger name="es.pfsgroup.plugin.rem.security.HayaAuthenticationProvider" additivity="false">
		<level value="debug" />
		<appender-ref ref="oauth2" />
	</logger>
	<logger name="es.pfsgroup.plugin.rem.security.jupiter.IntegracionJupiter" additivity="false">
		<level value="debug" />
		<appender-ref ref="oauth2" />
	</logger>
	<logger name="es.pfsgroup.plugin.rem.security.jupiter.IntegracionJupiterDaoImpl" additivity="false">
		<level value="debug" />
		<appender-ref ref="oauth2" />
	</logger>
	<!-- Fin PBO -->

	<!--Descomentar para Ver las SQL-->
	<!-- >logger name="org.hibernate.SQL" additivity="false"> <level value="debug"/> 
		<appender-ref ref="console" /> </logger-->

	<!-- Descomentar para Ver las SQL que ejecuta la aplicacion, el Thread, 
		la session y la transaccion en al que se ejecutan -->
	<!--logger name="es.capgemini.pfs.utils.hibernate.HibernateEntitySqlInterceptor" 
		additivity="false"> <level value="debug"/> <appender-ref ref="file" /> <appender-ref ref="syslog" /> <appender-ref 
		ref="console" /> </logger> <logger name="es.capgemini.pfs.utils.hibernate.HibernateMasterSqlInterceptor" 
		additivity="false"> <level value="debug"/> <appender-ref ref="file" /> <appender-ref ref="syslog" /> <appender-ref 
		ref="console" /> </logger-->



	<!-- root -->
	<root>
		<priority value="error" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="syslog" />
		<appender-ref ref="email" />
	</root>

</log4j:configuration> 
