
.app-activos-list-ico {
  background-size: 20px 20px;
  width: 20px !important;
  height: 20px;
}


.activoslist-imgactivo-window {
	
	  border: 20px solid #fff;
	  border-radius: 10px;
	  -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.4);
	  -moz-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.4);
	  -ms-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.4);
	  box-shadow:  0 1px 4px 1px rgba(0, 0, 0, 0.4);
}

.activoslist-mapactivo-window  {
	
	  //border-left: 20px solid #fff;
	 //border-right: 20px solid #fff;
	  //border-bottom: 20px solid #fff;
	  //border-radius: 10px;
	  -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.4);
	  -moz-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.4);
	  -ms-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.4);
	  box-shadow:  0 1px 4px 1px rgba(0, 0, 0, 0.4);
}


.activoslist-mapactivo-window .x-window-header {
	padding: 4px!important;
	background-color:  #0A94D6
}

.activoslist-mapactivo-window .x-window-header .x-tool-close {
	background-color:  #0A94D6 !important;
}

