body > .x-mask {
  background-color: rgba(0, 0, 0, 0.40);
}

@font-face
{
font-family: "Open Sans" ;
src: url(fonts/OpenSans-Regular.ttf);
}

@font-face
{
font-family: OpenSansItalic;
src: url(fonts/OpenSans-Italic.ttf);
}